@media(max-width:768px){
    nav{
    background-color: transparent;
    width: 95%;
    }
    
    .toggle{
        display: initial;
    }
    
    .nav-links{
    flex-direction: column;
    
    }
    
    .nav-links li{
    width: 100vw;
    
    }
    
    
    
    }